apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-server
spec:
  replicas: 3
  selector:
    matchLabels:
      app: minecraft-server
  template:
    metadata:
      labels:
        app: minecraft-server
    spec:
      containers:
      - name: minecraft-server
        image: recfortech/minecraft-world:latest
        ports:
        - containerPort: 25565
        env: 
        - name: EULA
          value: "true"
        - name: ONLINE_MODE
          value: "false"
---
services:
  minecraft-server:
    image: recfortech/minecraft-world:latest
    pull_policy: daily
    tty: "true"
    stdin_open: "true"
    spec:
      selector:
        app: minecraft-server
    ports:
      - protocol: TCP 
        port: 25565
        targetPort: 25565
    environment:
      EULA: "TRUE"
      ONLINE_MODE: "FALSE"
    volumes:
      # attach the relative directory 'data' to the container's /data path
      - ./data:/data
      
