apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-server
spec:
  replicas: 3
  selector:
    matchLabels:
      app: minecraft-server
  template:
    metadata:
      labels:
        app: minecraft-server
    spec:
      containers:
      - name: minecraft-server
        image: recfortech/minecraft-world:latest
        ports:
        - containerPort: 25565
        env: 
        - name: EULA
          value: true
        - name: ONLINE_MODE
          value: false
