apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minecraft-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft-server
  template:
    metadata:
      labels:
        app: minecraft-server
    spec:
      containers:
      - name: minecraft-server
        image: recfortech/minecraft-world:latest
        ports:
        - containerPort: 25565
        env: 
        - name: EULA
          value: "true"
        - name: ONLINE_MODE
          value: "false"
